<div class="footer">
    <nav class="footer-nav">
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}{% if node.title != null %}{% if node.layout == "page" %}{% if node.nav != false
        %}
        <a class="xsidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{node.fontawesome}}
            {{ node.title }} {{node.nav}}</a>
        {% endif %}{% endif %}{% endif %}{% endfor %}
    </nav>
    <p class="text-center">
        <small>
            &copy; 2004-{{ site.time | date: '%Y' }} by Peter Forret &bull; v{% include version.html %}
        </small>
    </p>

</div>
