<div class="sidebar" xmlns="http://www.w3.org/1999/html">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><img height="40" src="/public/apple-touch-icon.png" class="title-icon"> <a href="/"> {{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
      <p style="font-size: .75em">
        <i class="fas fa-user-alt"></i> <a href="/about/">About</a>
        <i class="fas fa-tag"></i> <a href="/category/">Categories</a>
        <i class="fas fa-search"></i> <a href="/search/">Search</a>
      </p>
    </div>
  </div>
</div>
