<div class="sidebar" xmlns="http://www.w3.org/1999/html">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1><img style="max-width: 10em" src="/public/apple-touch-icon.png" class="title-icon" alt="blog.forret.com"> <a href="/"> {{ site.title }}</a></h1>
      <p class="lead">{{ site.description }}</p>
        <div class="sidebar-nav">
            <p style="font-size: .75em">
                <i class="fas fa-lightbulb"></i> <a href="/category/idea/">My ideas</a>
                <i class="fas fa-lightbulb"></i> <a href="/category/repo/">My Software</a>
            </p>
            <p style="font-size: .75em">
                <i class="fas fa-user-alt"></i> <a href="/about/">About</a>
                <i class="fas fa-tag"></i> <a href="/category/">Categories</a>
                <i class="fas fa-search"></i> <a href="/search/">Search</a>
            </p>
        </div>
    </div>
  </div>
</div>
